<div id="footer">

        <div class="container">
          <div class="row prefooter">
            <div class="col-md-3">
              <div class="title"> Quotes </div><br>
              <blockquote>
                <p>Everything we can measure is a treasure</p>
                <small>Someone about to get famous <cite title="Source Title"></cite></small>
              </blockquote>
            </div>
            <div class="col-md-3">
              <ul>
                <div class="title"> About us </div>
                <li><a href="#"> &raquo;&nbsp;&nbsp; About us</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Vision & Mission</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Careers</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Contact us</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Blog</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul>
                <div class="title"> What We Do </div>                    
                <li><a href="#">&raquo;&nbsp;&nbsp;Financial Services</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Industrial Process Data</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Frugal Innovation</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Research Solutions</a></li>
                <li><a href="#">&raquo;&nbsp;&nbsp;Training and Education</a></li>
              </ul>
            </div>

            <div class="col-md-3">
              <ul>                                
                <div class="title"> Keep Watch </div>  
                <!-- <li><a href="#"><b>KEEP WATCH</b></a></li> -->
              </ul>
              <!-- <input type="text"/> -->
            </div>

          </div>
          <div class="row copyright pull-left">Terms and conditions apply . Privacy Policy . Sitemap</div>
          <div class="row copyright pull-right">Copyright &copy; GyanData Pvt Ltd. 2013. All rights reserved.</div>
          <!-- <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p> -->
        </div>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

      <script src="js/vendor/bootstrap.min.js"></script>

      <script src="js/plugins.js"></script>
      <script src="js/main.js"></script>

      <!-- From CDN -->
      <script src="http://cdn.jsdelivr.net/jquery.scrollto/1.4.6/jquery.scrollTo.js"></script>
      <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
    </html>
